%main-wrapper-set {
    color: $white-color;
    text-align: center;
}
%header-fonts {
    font-family: $montserrat-font, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
%dark-grey-colorset {
    color: $text-color;
}
.header-wrapper__text {
    @extend %main-wrapper-set;
    margin-top: 50px;
    margin-bottom: 37px;
    font-size: 72px;
    font-family: $cursive-font, cursive;
}
.header-wrapper__title {
    margin: 0 auto;
    width: 900px;
    font-size: 150px;
}
.header-wrapper__button, .header-wrapper__title {
    @extend %main-wrapper-set;
    @extend %header-fonts;
}

.title {
    font-family: $cursive-font, cursive;
    font-size: 24px;
    display: inline-block;
    font-weight: normal;
}
.subtitle {
    font-size: 30px;
    font-family: $montserrat-font, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 20px;
    &::after {
        content: "";
        display: block;
        background-color: $link-color;
        width: 60px;
        height: 3px;
        margin: 39px auto 56px;
    }
}

.team_subtitle::after {
    margin: 43px auto 31px;
}
.services_section__title, .services_section__subtitle{
    @extend %dark-grey-colorset; 
}
.footer-text {
    margin-top: 25px;
    display: inline-block;
    font-family: $montserrat-font, sans-serif;
    font-size: 14px;
    color: $text-color;
}
.footer-text__link {
    text-decoration: none;
    color: $link-color;
}