$line-color: #e5e5e5;
$main-color: #95e1d3;
$grey-color: #ccc;
$white-color: #fff;
$border-color: #e7e7e7;
$text-color: #333;
$link-color: #f38181;
$hover-color: #fce38a;
$service-color: #999;
$cursive-font: 'Kaushan Script';
$montserrat-font: 'Montserrat';
$roboto-font: 'Roboto';
